
body {
  background-color: #C5D1E5;
  font-family: 'Roboto', sans-serif;
  /*font-style: thin;*/
}

.logoarea {
  background-color: #373A40;
  padding: 1em;
}


#title {
  color: #C5D1E5;
  text-align: center;
  font-size: 110%;
  letter-spacing: .5em;
  margin-bottom: 1.5em;

}

#tglogo {
  display: block;
  margin: auto;
  width: 40%;
}

#linkedlogos {
  width: 10%;
  display: block;
  margin: auto;
}


.icons {
  margin: 1em;
  display: inline-block;
  height: 3em;
  text-align: center;
  /*align-self: center;*/
  /*margin-left:.2em;
  margin-right:.2em;*/
  /*margin: auto;*/
  width: auto;
  /*align: center;*/
}

#contact{
  align-items: center;
}

.navigation {
  letter-spacing: .2em;
  text-align: center;
  color: #C5D1E5;
  margin: 0px;
  padding: .7em;
  font-size: .8em;
  /*padding: .5em;*/
  /*font-weight: bold;*/
}

hr {
  /*padding: 0px;*/
  margin: auto;
}

h1 {
  font-size: 2em;
  margin-top: 0px;
}

h2 {
  margin-top: 1em;
}
h3 {
  font-size: 1.5em;
  margin-top: 0em;
}

h4 {
  margin: 1em;
margin-top:1em;
}

p {
  padding: 1em;
  color:  #373A40;
}

.section {
  background-color: white;
  margin: 2em;
  padding: 2em;
  color: #373A40;
}

#tessaphoto {
  display: block;
  margin: auto;
  margin-top: 1.3em;
  width: 100%;
}

#intention {
  display: block;
  margin: auto;
  width: 100%;
  border: solid .25em #C5D1E5;
  margin-top:1.5em;
  margin-bottom:1.5em;
}

#freephoto {
  display: block;
  margin: auto;
  width: 100%;
  padding:.75em;
  /*border: solid .25em #C5D1E5;*/
  /*margin-top:1em;*/
}

.freelance {
  margin-top:1em;
  padding: 1em;
  display: block;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

a {
  color: #C5D1E5;
  padding-right: 1em;
  padding-left: 1em;
  text-decoration: none;
}

a:hover{
  color: #A4AEBF;
  text-decoration:none;
  font-style: italic;
}

a:visited{
  color:white;
}

.tech {
  border-radius: 7px;
  border: 1.5px solid #C5D1E5;
  display: inline;
  padding: .3em;
  margin-left:.2em;
  margin-right:.2em;
  margin-top:.2em;
  margin-bottom:.2em;
}

.skills {
  line-height: 240%;
}

#iconarea {
  display: inline;
  margin: auto;
  width: 100%;
}
